<!DOCTYPE html>
<html class="scroll-smooth bg-purple/20 dark:bg-purple" lang="{{ site.lang }}">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"
    />
    <meta
      name="description"
      content="{% if description %}{{ description }}{% else %}{{
        site.description
      }}{% endif %}"
    />

    {% if eleventyExcludeFromCollections %}
    <meta name="robots" content="noindex" />
    {% else %}
    <meta name="robots" content="index,follow" />
    {% endif %}

    <meta name="google" content="nositelinkssearchbox" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
    <title>
      {% if title %}{{ title }}{% else %}{{ site.title }}{% endif %}
    </title>

    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="icon" href="/icon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="{% if title %}{{ title }}{% else %}{{ site.title }}{% endif %}"
    />
    <meta
      property="og:image"
      content="{% if image %}{{ site.url }}{{ image }}{% else %}{{ site.url }}{{
        site.meta_data.default_social_image
      }}{% endif %}"
    />
    <meta
      property="og:description"
      content="{% if description %}{{ description }}{% else %}{{
        site.description
      }}{% endif %}"
    />
    <meta property="og:site_name" content="huphtur.nl" />
    <meta property="og:locale" content="{{ site.meta_data.locale }}" />
    <meta property="article:author" content="{{ site.author.name }}" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="{{ site.meta_data.twitter_username }}" />
    <meta
      name="twitter:creator"
      content="{{ site.meta_data.twitter_username }}"
    />
    <meta name="twitter:dnt" content="on" />

    <link rel="stylesheet" href="/styles.css" />
  </head>

  <body
    class="font-medium text-black before:fixed before:inset-0 before:-z-[1] before:bg-gradient-to-b before:from-white dark:text-white dark:before:from-black"
  >
    <p>
      <a class="sr-only focus:not-sr-only" href="#main-content"
        >Skip to content</a
      >
    </p>

    <header class="p-4">
      <div class="mx-auto flex max-w-lg md:max-w-3xl md:p-4">
        <a href="/" class="group block flex-shrink-0">
          <div class="flex items-center">
            <div>
              <img
                class="inline-block h-12 w-12 rounded-full"
                src="/images/avatar.jpg"
                alt="Man with glasses and a cat on his shoulders."
              />
            </div>
            <div class="ml-4">
              <p
                class="text-xl font-semibold tracking-wide group-hover:text-pink md:text-2xl"
              >
                huphtur
              </p>
            </div>
          </div>
        </a>
      </div>
    </header>

    <main
      class="prose my-8 mx-auto max-w-lg p-4 focus:outline-none prose-headings:font-extrabold prose-headings:text-black prose-lead:text-black prose-p:text-black prose-a:text-black prose-a:decoration-pink prose-a:decoration-2 prose-a:underline-offset-2 hover:prose-a:text-pink prose-blockquote:border-black prose-strong:font-extrabold prose-strong:text-black prose-code:text-black prose-pre:bg-white prose-ol:text-black marker:prose-ol:text-black prose-ul:text-black marker:prose-ul:text-black dark:prose-headings:text-white dark:prose-lead:text-white dark:prose-p:text-white dark:prose-a:text-white dark:prose-blockquote:border-white dark:prose-strong:text-white dark:prose-code:text-white dark:prose-pre:bg-black dark:prose-ol:text-white dark:marker:prose-ol:text-white dark:prose-ul:text-white dark:marker:prose-ul:text-white md:prose-2xl md:my-16 md:max-w-3xl md:prose-a:decoration-4"
      id="main-content"
      tabindex="-1"
    >
      {{ content }}
    </main>

    <footer class="mb-8 md:mb-16">
      <div class="mx-auto flex max-w-lg justify-around p-2">
        <a class="hover:text-pink" href="/" aria-label="Home">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            width="24"
            height="24"
            stroke="currentColor"
            stroke-width="2"
            aria-hidden="true"
            focusable="false"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
            /></svg
        ></a>
        <a class="hover:text-pink" href="/about/" aria-label="About"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            width="24"
            height="24"
            stroke="currentColor"
            stroke-width="2"
            aria-hidden="true"
            focusable="false"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
            /></svg
        ></a>
        <a class="hover:text-pink" href="/archives/" aria-label="Archives"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            width="24"
            height="24"
            stroke="currentColor"
            stroke-width="2"
            aria-hidden="true"
            focusable="false"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M5 8h14M5 8a2 2 0 110-4h14a2 2 0 110 4M5 8v10a2 2 0 002 2h10a2 2 0 002-2V8m-9 4h4"
            /></svg
        ></a>
        <a class="hover:text-pink" href="/feed.xml" aria-label="RSS Feed"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            width="24"
            height="24"
            stroke="currentColor"
            stroke-width="2"
            aria-hidden="true"
            focusable="false"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 5c7.18 0 13 5.82 13 13M6 11a7 7 0 017 7m-6 0a1 1 0 11-2 0 1 1 0 012 0z"
            /></svg
        ></a>
        <a class="hover:text-pink" href="#main-content" aria-label="Top"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            width="24"
            height="24"
            stroke="currentColor"
            stroke-width="2"
            aria-hidden="true"
            focusable="false"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M8 7l4-4m0 0l4 4m-4-4v18"
            /></svg
        ></a>
      </div>
    </footer>

    <!-- Cloudflare Web Analytics -->
    <script
      defer
      src="https://static.cloudflareinsights.com/beacon.min.js"
      data-cf-beacon='{"token": "efa79cc049634b21bf1bf5d608dd4608"}'
    ></script>
    <!-- End Cloudflare Web Analytics -->
  </body>
</html>
