<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />

    {% if title %}
      <title>{{ title }}</title>
    {% else %}
      <title>{{ site.title }}</title>
    {% endif %}

    {% if description %}
      <meta name="description" content="{{ description }}" />
    {% else %}
      <meta name="description" content="{{ site.description }}" />
    {% endif %}

    {% if eleventyExcludeFromCollections %}
      <meta name="robots" content="noindex" />
    {% else %}
      <meta name="robots" content="index,follow" />
    {% endif %}

    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />

    <link
      rel="icon"
      href="/favicon.ico"
      sizes="any" />
    <link
      rel="icon"
      href="/icon.svg"
      type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="RSS Feed for huphtur.nl"
      href="/feed.xml" />

    <meta name="generator" content="{{ eleventy.generator }}">
    <meta property="og:site_name" content="huphtur.nl" />
    <meta property="og:locale" content="{{ site.meta_data.locale }}" />
    <meta property="article:author" content="{{ site.author.name }}" />
    <meta property="og:image" content="{{ site.url }}{% if image %}{{ image }}{% else %}{{ site.meta_data.default_social_image }}{% endif %}">
    <link rel="me" href="https://mastodon.social/@huphtur">
    <link rel="me" href="https://github.com/huphtur/">

    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <aside>
        <a href="#main">Skip to main content</a>
        <div>
          <button data-action="colors" type="button">
            <span>Random colors</span>
            <svg
              fill="currentColor"
              aria-hidden="true"
              height="16"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512">
              <path d="M112 264c-13.3 0-24 10.7-24 24s10.7 24 24 24 24-10.7 24-24-10.7-24-24-24zm32-112c-13.3 0-24 10.7-24 24s10.7 24 24 24 24-10.7 24-24-10.7-24-24-24zM256 0c-16.9 0-34.2 1.6-51.7 5C104.9 24.4 24.8 104.3 5.2 203.4-29.4 378.5 116.4 512 239.5 512c8.3 0 16.5-.6 24.6-1.9 41.2-6.4 61.4-54.6 42.5-91.7-23.1-45.4 9.9-98.4 60.9-98.4h79.7c35.8 0 64.8-29.6 64.9-65.3C511.6 113.9 397.1 0 256 0zm191.1 288h-79.7c-35.3 0-67.4 17.9-85.7 47.8-18.2 29.7-19.6 66-3.7 97.2 4.9 9.6 4.8 21.6-.1 31.3-2.4 4.6-7.9 12.6-18.7 14.3-6.3 1-12.9 1.5-19.7 1.5-54.6 0-114.1-31.3-155.5-81.6-44-53.6-60.9-120.6-47.4-188.7 17.1-86.6 87-156.2 173.9-173.2 15.2-3 30.5-4.5 45.5-4.5 123.1 0 223.6 99.9 224 222.6 0 18.3-14.8 33.3-32.9 33.3zM368 136c-13.3 0-24 10.7-24 24s10.7 24 24 24 24-10.7 24-24-10.7-24-24-24zM240 88c-13.3 0-24 10.7-24 24s10.7 24 24 24 24-10.7 24-24-10.7-24-24-24z" />
            </svg>
          </button>
          <button data-action="darkmode" type="button">
            <span>Toggle darkmode</span>
            <svg
              fill="currentColor"
              aria-hidden="true"
              height="16"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 496 512">
              <path d="M232 192c26.5 0 48-21.5 48-48s-21.5-48-48-48-48 21.5-48 48 21.5 48 48 48zm0-64c8.8 0 16 7.2 16 16s-7.2 16-16 16-16-7.2-16-16 7.2-16 16-16zm32 192c-26.5 0-48 21.5-48 48s21.5 48 48 48 48-21.5 48-48-21.5-48-48-48zm0 64c-8.8 0-16-7.2-16-16s7.2-16 16-16 16 7.2 16 16-7.2 16-16 16zM248 8C111 8 0 119 0 256s111 248 248 248c136.8 0 248-111.3 248-248S384.8 8 248 8zM32 256c0-119.1 96.9-216 216-216 55.1 0 100 44.9 100 100s-44.9 100-100 100c-72.8 0-132 59.2-132 132 0 25 7.4 48.1 19.5 68C73.5 402 32 333.8 32 256zm216 216c-55.1 0-100-44.9-100-100s44.9-100 100-100c72.8 0 132-59.2 132-132 0-24.8-6.9-48.1-18.8-67.9C422.8 110.1 464 178.3 464 256c0 119.1-96.9 216-216 216z" />
            </svg>
          </button>
          <button data-action="font" type="button">
            <span>Toggle font</span>
            <svg
              fill="currentColor"
              aria-hidden="true"
              height="16"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512">
              <path d="M448 48v72a8 8 0 0 1 -8 8h-16a8 8 0 0 1 -8-8V64H240v384h72a8 8 0 0 1 8 8v16a8 8 0 0 1 -8 8H136a8 8 0 0 1 -8-8v-16a8 8 0 0 1 8-8h72V64H32v56a8 8 0 0 1 -8 8H8a8 8 0 0 1 -8-8V48a16 16 0 0 1 16-16h416a16 16 0 0 1 16 16z" />
            </svg>
          </button>
          <button data-action="width" type="button">
            <span>Toggle width</span>
            <svg
              fill="currentColor"
              aria-hidden="true"
              height="16"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512">
              <path d="M0 180V56c0-13.3 10.7-24 24-24h124c6.6 0 12 5.4 12 12v8c0 6.6-5.4 12-12 12H32v116c0 6.6-5.4 12-12 12h-8c-6.6 0-12-5.4-12-12zM300 32h124c13.3 0 24 10.7 24 24v124c0 6.6-5.4 12-12 12h-8c-6.6 0-12-5.4-12-12V64H300c-6.6 0-12-5.4-12-12v-8c0-6.6 5.4-12 12-12zm148 300v124c0 13.3-10.7 24-24 24H300c-6.6 0-12-5.4-12-12v-8c0-6.6 5.4-12 12-12h116V332c0-6.6 5.4-12 12-12h8c6.6 0 12 5.4 12 12zM148 480H24c-13.3 0-24-10.7-24-24V332c0-6.6 5.4-12 12-12h8c6.6 0 12 5.4 12 12v116h116c6.6 0 12 5.4 12 12v8c0 6.6-5.4 12-12 12z" />
            </svg>
          </button>
        </div>
      </aside>
      <div>
        <a href="/">
          <img
            loading="eager"
            width="256"
            height="256"
            src="/images/huphtur.png"
            alt="A digital illustration of a man wearing an orange cap, glasses, and a blue hoodie, working on a laptop." />
        </a>
        <p>
          <a href="/">
            huphtur
          </a>
        </p>
      </div>
      <nav>
        {% assign navPages = collections.all | eleventyNavigation %}
        <ul>
          {%- for entry in navPages %}
            <li
              {% if entry.url == page.url %}
              class="active"
              {% endif %}>
              <a class="nav-{{ entry.title | slugify }}" href="{{ entry.url }}">{{ entry.title }}</a>
            </li>
          {%- endfor %}
        </ul>
      </nav>
    </header>

    {{ content }}

    <script type="module">
      import SiteManager from '/script.js';
      SiteManager.init();
    </script>
  </body>
</html>