<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />

    {%if title %}
      <title>{{ title }}</title>
      <meta name="twitter:title" content="{{ title }}" />
      <meta property="og:title" content="{{ title }}" />
    {% else %}
      <title>{{ site.title }}</title>
      <meta name="twitter:title" content="{{ title }}" />
      <meta property="og:title" content="{{ site.title }}" />
    {% endif %} 

    {% if description %}
      <meta name="twitter:description" content="{{ description }}" />
      <meta name="description" content="{{ description }}" />
      <meta property="og:description" content="{{ description }}" />
    {% else %}
      <meta name="twitter:description" content="{{ site.description }}" />
      <meta name="description" content="{{ site.description }}" />
      <meta property="og:description" content="{{ site.description }}" />
    {% endif %} 

    {% if eleventyExcludeFromCollections %}
      <meta name="robots" content="noindex" />
      {% else %}
      <meta name="robots" content="index,follow" />
    {% endif %}

    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />

    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="icon" href="/icon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="alternate" type="application/rss+xml" title="RSS Feed for huphtur.nl" href="/feed.xml" />

    <meta name="generator" content="{{ eleventy.generator }}">
    <meta property="og:site_name" content="huphtur.nl" />
    <meta property="og:locale" content="{{ site.meta_data.locale }}" />
    <meta property="article:author" content="{{ site.author.name }}" />
    <meta property="og:image" content="{{ site.url }}{% if image %}{{ image }}{% else %}{{ site.meta_data.default_social_image }}{% endif %}">
    <link rel="me" href="https://mastodon.social/@huphtur">
    <link rel="me" href="https://github.com/huphtur/">
    
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <a href="#main">Skip to main content</a>
    <header>
      <a href="/">
        <img eleventy:widths="100,200" loading="eager" src="/images/huphtur.png" alt="An emoji-style man wearing an orange bike helmet and AirPods, peeking over a MacBook on a light orange background."/>
        <span>huphtur</span>
      </a>
      <nav>
      {% assign navPages = collections.all | eleventyNavigation %}
      <ul>
      {%- for entry in navPages %}
        <li{% if entry.url == page.url %} class="current"{% endif %}>
          <a href="{{ entry.url }}"><b aria-hidden="true">{{ entry.emoji }}</b> <span>{{ entry.title }}</span></a>
        </li>
      {%- endfor %}
      </ul>
      </nav>
    </header>
        
    <main id="main" tabindex="0" role="main">
      {{ content }}
    </main>

  </body>
</html>
