<!DOCTYPE html>
<html class="scroll-smooth bg-tint/20 dark:bg-tint" lang="{{ site.lang }}">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"
    />
    <meta
      name="description"
      content="{% if description %}{{ description }}{% else %}{{
        site.description
      }}{% endif %}"
    />

    {% if eleventyExcludeFromCollections %}
    <meta name="robots" content="noindex" />
    {% else %}
    <meta name="robots" content="index,follow" />
    {% endif %}

    <meta name="google" content="nositelinkssearchbox" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
    <title>
      {% if title %}{{ title }}{% else %}{{ site.title }}{% endif %}
    </title>

    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="icon" href="/icon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="{% if title %}{{ title }}{% else %}{{ site.title }}{% endif %}"
    />
    <meta
      property="og:description"
      content="{% if description %}{{ description }}{% else %}{{
        site.description
      }}{% endif %}"
    />
    <meta property="og:site_name" content="huphtur.nl" />
    <meta property="og:locale" content="{{ site.meta_data.locale }}" />
    <meta property="article:author" content="{{ site.author.name }}" />
    <link rel="me" href="https://mastodon.social/@huphtur">
    <link rel="stylesheet" href="/styles.css" />
  </head>

  <body
    class="font-medium text-dark before:fixed before:inset-0 before:-z-[1] before:bg-gradient-to-b before:from-light dark:text-light dark:before:from-dark"
  >
    <p>
      <a class="sr-only focus:not-sr-only" href="#main-content"
        >Skip to content</a
      >
    </p>

    <header class="p-4">
      <div class="mx-auto flex max-w-lg md:max-w-3xl md:p-4">
        <a href="/" class="group block flex-shrink-0">
          <div class="flex items-center">
            <div>
              <img
                class="inline-block h-12 w-12 rounded-full"
                src="/images/huphtur.png"
                alt="Memoji of man with a bike helmet on his head sitting behind a MacBook."
                width="64"
                height="64"
              />
            </div>
            <div class="ml-4">
              <p
                class="text-xl font-semibold tracking-wide group-hover:text-accent md:text-2xl"
              >
                huphtur
              </p>
            </div>
          </div>
        </a>
      </div>
    </header>

    <main
      class="prose my-8 mx-auto max-w-lg p-4 focus:outline-none prose-headings:font-extrabold prose-headings:text-dark prose-p:text-dark prose-a:text-dark prose-a:decoration-accent prose-a:decoration-2 prose-a:underline-offset-2 hover:prose-a:text-accent prose-blockquote:border-dark prose-strong:font-extrabold prose-strong:text-dark prose-code:text-dark prose-pre:bg-light prose-ol:text-dark marker:prose-ol:text-dark prose-ul:text-dark marker:prose-ul:text-dark prose-lead:text-dark dark:prose-headings:text-light dark:prose-p:text-light dark:prose-a:text-light dark:prose-blockquote:border-light dark:prose-strong:text-light dark:prose-code:text-light dark:prose-pre:bg-dark dark:prose-ol:text-light dark:marker:prose-ol:text-light dark:prose-ul:text-light dark:marker:prose-ul:text-light dark:prose-lead:text-light md:prose-2xl md:my-16 md:max-w-3xl md:prose-a:decoration-4"
      id="main-content"
      tabindex="-1"
    >
      {{ content }}
    </main>

    <footer class="mb-8 md:mb-16">
      <div class="mx-auto flex max-w-lg justify-around p-2">
        <a class="hover:text-accent" href="/" aria-label="Home">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            class="h-6 w-6"
            aria-hidden="true"
            focusable="false"
            width="24"
            height="24"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"
            />
          </svg>
        </a>
        <a class="hover:text-accent" href="/about/" aria-label="About"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            class="h-6 w-6"
            aria-hidden="true"
            focusable="false"
            width="24"
            height="24"            
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z"
            />
          </svg>
        </a>
        <a class="hover:text-accent" href="/archives/" aria-label="Archives"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            class="h-6 w-6"
            aria-hidden="true"
            focusable="false"
            width="24"
            height="24"            
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M20.25 7.5l-.625 10.632a2.25 2.25 0 01-2.247 2.118H6.622a2.25 2.25 0 01-2.247-2.118L3.75 7.5M10 11.25h4M3.375 7.5h17.25c.621 0 1.125-.504 1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125H3.375c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125z"
            />
          </svg>
        </a>
        <a class="hover:text-accent" href="/feed.xml" aria-label="RSS Feed"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            class="h-6 w-6"
            aria-hidden="true"
            focusable="false"
            width="24"
            height="24"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12.75 19.5v-.75a7.5 7.5 0 00-7.5-7.5H4.5m0-6.75h.75c7.87 0 14.25 6.38 14.25 14.25v.75M6 18.75a.75.75 0 11-1.5 0 .75.75 0 011.5 0z"
            />
          </svg>
        </a>
        <a class="hover:text-accent" href="#main-content" aria-label="Top"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            class="h-6 w-6"
            aria-hidden="true"
            focusable="false"
            width="24"
            height="24"            
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M8.25 6.75L12 3m0 0l3.75 3.75M12 3v18"
            />
          </svg>
        </a>
      </div>
    </footer>
  </body>
</html>
