<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />

    {% if title %}
      <title>{{ title }}</title>
    {% else %}
      <title>{{ site.title }}</title>
    {% endif %}

    {% if description %}
      <meta name="description" content="{{ description }}" />
    {% else %}
      <meta name="description" content="{{ site.description }}" />
    {% endif %}

    {% if eleventyExcludeFromCollections %}
      <meta name="robots" content="noindex" />
    {% else %}
      <meta name="robots" content="index,follow" />
    {% endif %}

    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />

    <link
      rel="icon"
      href="/favicon.ico"
      sizes="any" />
    <link
      rel="icon"
      href="/icon.svg"
      type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="RSS Feed for huphtur.nl"
      href="/feed.xml" />

    <meta name="generator" content="{{ eleventy.generator }}">
    <meta property="og:site_name" content="huphtur.nl" />
    <meta property="og:locale" content="{{ site.meta_data.locale }}" />
    <meta property="article:author" content="{{ site.author.name }}" />
    <meta property="og:image" content="{{ site.url }}{% if image %}{{ image }}{% else %}{{ site.meta_data.default_social_image }}{% endif %}">
    <link rel="me" href="https://mastodon.social/@huphtur">
    <link rel="me" href="https://github.com/huphtur/">

    <link rel="stylesheet" href="/bundle.css">
  </head>
  <body>
    <aside>
      <a href="#main">Skip to main content</a>
      <div>
        <button data-action="font">
          <span>Toggle font</span>
          <svg
            fill="currentColor"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 448 512">
            <path d="M432 32a16 16 0 0 1 16 16v96a16 16 0 0 1 -16 16h-32a16 16 0 0 1 -16-16v-32H264v304h40a16 16 0 0 1 16 16v32a16 16 0 0 1 -16 16H144a16 16 0 0 1 -16-16v-32a16 16 0 0 1 16-16h40V112H64v32a16 16 0 0 1 -16 16H16a16 16 0 0 1 -16-16V48a16 16 0 0 1 16-16z" />
          </svg>
        </button>
        <button data-action="colors">
          <span>Random colors</span>
          <svg
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512">
            <path d="M204.3 5C104.9 24.4 24.8 104.3 5.2 203.4c-37 187 131.7 326.4 258.8 306.7 41.2-6.4 61.4-54.6 42.5-91.7-23.1-45.4 9.9-98.4 60.9-98.4h79.7c35.8 0 64.8-29.6 64.9-65.3C511.5 97.1 368.1-26.9 204.3 5zM96 320c-17.7 0-32-14.3-32-32s14.3-32 32-32 32 14.3 32 32-14.3 32-32 32zm32-128c-17.7 0-32-14.3-32-32s14.3-32 32-32 32 14.3 32 32-14.3 32-32 32zm128-64c-17.7 0-32-14.3-32-32s14.3-32 32-32 32 14.3 32 32-14.3 32-32 32zm128 64c-17.7 0-32-14.3-32-32s14.3-32 32-32 32 14.3 32 32-14.3 32-32 32z" />
          </svg>
        </button>
        <button data-action="darkmode">
          <span>Toggle darkmode</span>
          <svg
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 496 512">
            <path d="M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm0 376c-17.7 0-32-14.3-32-32s14.3-32 32-32 32 14.3 32 32-14.3 32-32 32zm0-128c-53 0-96 43-96 96s43 96 96 96c-106 0-192-86-192-192S142 64 248 64c53 0 96 43 96 96s-43 96-96 96zm0-128c-17.7 0-32 14.3-32 32s14.3 32 32 32 32-14.3 32-32-14.3-32-32-32z" />
          </svg>
        </button>
      </div>
    </aside>
    <header>
      <div>
        <a href="/">
          <img
            loading="eager"
            src="/images/huphtur.png"
            alt="A digital illustration of a man wearing an orange cap, glasses, and a blue hoodie, working on a laptop." />
        </a>
        <p>
          <a href="/">
            huphtur
          </a>
        </p>
      </div>
      <nav>
        {% assign navPages = collections.all | eleventyNavigation %}
        <ul role='list'>
          {%- for entry in navPages %}
            <li
              {% if entry.url == page.url %}
              class="active"
              {% endif %}>
              <a class="nav-{{ entry.title | slugify }}" href="{{ entry.url }}">{{ entry.title }}</a>
            </li>
          {%- endfor %}
        </ul>
      </nav>
    </header>

    <main id="main" role="main">
      {{ content }}
    </main>

    <script type="module">
      import ColorManager from '/bundle.js';
      ColorManager.init();
    </script>
  </body>
</html>