<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />

    {% if title %}
      <title>{{ title }}</title>
    {% else %}
      <title>{{ site.title }}</title>
    {% endif %}

    {% if description %}
      <meta name="description" content="{{ description }}" />
    {% else %}
      <meta name="description" content="{{ site.description }}" />
    {% endif %}

    {% if eleventyExcludeFromCollections %}
      <meta name="robots" content="noindex" />
    {% else %}
      <meta name="robots" content="index,follow" />
    {% endif %}

    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />

    <link
      rel="icon"
      href="/favicon.ico"
      sizes="any" />
    <link
      rel="icon"
      href="/icon.svg"
      type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="RSS Feed for huphtur.nl"
      href="/feed.xml" />

    <meta name="generator" content="{{ eleventy.generator }}">
    <meta property="og:site_name" content="huphtur.nl" />
    <meta property="og:locale" content="{{ site.meta_data.locale }}" />
    <meta property="article:author" content="{{ site.author.name }}" />
    <meta property="og:image" content="{{ site.url }}{% if image %}{{ image }}{% else %}{{ site.meta_data.default_social_image }}{% endif %}">
    <link rel="me" href="https://mastodon.social/@huphtur">
    <link rel="me" href="https://github.com/huphtur/">

    <link rel="stylesheet" href="/bundle.css">
  </head>
  <body>
    <a href="#main">Skip to main content</a>

    <header>
      <div>
        <a href="/">
          <img
            width="100"
            height="100"
            loading="eager"
            src="/images/huphtur.png"
            alt="An emoji-style man wearing an orange bike helmet and AirPods, peeking over a MacBook on a light orange background." />
        </a>
        <p>
          <a href="/">
            huphtur
          </a>
        </p>
      </div>
      <nav>
        {% assign navPages = collections.all | eleventyNavigation %}
        <ul role='list'>
          {%- for entry in navPages %}
            <li
              {% if entry.url == page.url %}
              class="active"
              {% endif %}>
              <a class="nav-{{ entry.title | slugify }}" href="{{ entry.url }}">{{ entry.title }}</a>
            </li>
          {%- endfor %}
        </ul>
      </nav>
    </header>

    <main id="main" role="main">
      {{ content }}
    </main>

  {% comment %} <script src="/js/scripts.js"></script> {% endcomment %}
  </body>
</html>