---
layout: default
title: "huphtur archives"
---
{% for post in collections.post reversed %}
  {% assign currentdate = post.date | date: "%Y" %}
  {% if currentdate != date %}
    {% unless forloop.first %}</ul>{% endunless %}
    <h1 id="y{{post.date | date: "%Y"}}">{{ currentdate }}</h1>
    <ul class="pb-12 ml-3">
      {% assign date = currentdate %}
      {% endif %}
        <li><a class="link" href="{{ post.url }}">{{ post.data.title }}</a></li>
      {% if forloop.last %}
    </ul>
  {% endif %}
{% endfor %}

  <!-- <ul class="space-y-4">

    {%- for item in collections.post reversed -%}

      <li><a href="{{ item.url }}">{{ item.data.title }}</a> <br><time class="" datetime="{{ item.date | date: "%Y-%m-%d" }}">{{ item.date | date: "%B %d, %Y" }}</time></li>

    {%- endfor -%}
  </ul> -->

