---
layout: default
title: 'huphtur'
description: 'Tall, skinny Dutch guy with a penchant for skateboarding, cycling, and nerdy computer crap.'
pagination:
  data: collections.post
  size: 11
  reverse: true
  alias: posts
---

<div class="space-y-20 md:space-y-40">
  {% for item in posts %}
  <article>
    <h1>
      <a
        class="font-extrabold text-black dark:!text-white no-underline hover:!text-pink"
        href="{{ item.url }}"
        >{{ item.data.title }}</a
      >
    </h1>
    {% if item.data.intro %} {% if item.data.image %}
    <p>
      <a href="{{ item.url }}"
        ><img src="{{ item.data.image }}" alt="{{ item.data.alt }}"
      /></a>
    </p>
    {% endif %}
    <p class="lead">{{ item.data.description }}</p>
    <p>
      <a class="no-underline after:ml-1 after:content-['→']" href="{{ item.url }}"
        >Read <em class="italic underline decoration-pink decoration-2 md:decoration-4 underline-offset-2">{{ item.data.title }}</em></a
      >
    </p>
    {% else %}
    <p>{{ item.templateContent }}</p>
    {% endif %}
  </article>
  {% endfor %}
</div>

<div class="md:mt-40 mt-20 text-center">
  {% if pagination.href.next %}<a
    class="no-underline before:mr-1 before:content-['←']"
    href="{{ pagination.href.next }}"
    ><span class="underline decoration-pink decoration-2 md:decoration-4 underline-offset-2"
      >Older</a
  >{% endif %} {% if pagination.href.previous %}<a
    class="no-underline after:ml-1 after:content-['→']"
    href="{{ pagination.href.previous }}"
    ><span class="underline decoration-pink decoration-2 md:decoration-4 underline-offset-2"
      >Newer</span
    ></a
  >{% endif %}
</div>
