---
layout: default
title: "Marcel Appelman"
description: "Tall, skinny Dutch guy with a penchant for skateboarding, cycling, and nerdy computer crap."
pagination:
  data: collections.post
  size: 11
  reverse: true
  alias: posts
---
<div class="md:prose-2xl max-w-none md:space-y-40 space-y-20 prose">
  {%- for item in posts -%}
    <article>
      <h1><a href="{{ item.url }}">{{ item.data.title }}</a></h1>
      <time class="md:text-lg text-sm" datetime="{{ item.date | date: "%Y-%m-%d" }}">{{ item.date | date: "%B %d, %Y" }}</time>
      {%- if item.data.intro -%}
        <p class="lead">{{ item.data.description | safe }}</p>
        <p><a href="{{ item.url }}">Continue reading →</a></p>
      {%- else -%}
        <p>{{ item.templateContent | safe }}</p>
      {%- endif -%}
    </article>
  {%- endfor -%}
</div>

<div class="md:text-lg md:mt-40 mt-20 text-sm text-center">
  {% if pagination.href.next %}<a class="hover:text-black p-2 text-orange-800" href="{{ pagination.href.next }}">← Older</a>{% endif %}
  {% if pagination.href.previous %}<a class="hover:text-black p-2 text-orange-800" href="{{ pagination.href.previous }}">Newer →</a>{% endif %}
</div>
